<% if !@current_user %>
<h1>Welcome!</h1>
  <div class="login">
    <%= link_to '/auth/github/', class: 'btn btn-success' do %>
      <span class='fa fa-github'></span> Sign in with github
      <% end %>
  </div>
<% end %>

<% if @current_user %>
  <h2>Hi, <%= @current_user.username %>, ready to play?</h2>

  <%= link_to "New Game", game_path, class:"btn btn-success" %>

<div class="container">
  <h3>Or Continue a Saved Game</h3>
  <table class="table table-hover">
    <tr>
      <th>Score</th>
      <th>Last Played</th>
      <th>Continue</th>
    </tr>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.score %></td>
      <td><%= game.updated_at %></td>
      <td><a class="btn btn-default load-game-button" data-val=<%= game.id %>>Continue Game</a></td>
    </tr>
    <% end %>

  </table>
</div>
<div class="container">
  <ol>
  <% @leaders.each do |leader| %>
  <li>Player: <%= leader.user.email %> Score: <%= leader.score %> </li>
  <% end %>
  </ol>
</div>
<% end %>
