<% if !@current_user %>
<h1>Welcome!</h1>
  <div class="login">
    <a class="btn btn-success" href="auth/github/">
  <i class="fa fa-github"></i> Sign in With Github</a>

  </div>
<% end %>

<% if @current_user %>
  <div class="container welcome-message">
      <% if @current_user.username %>
        <h2>Hi, <%= @current_user.username %>, ready to play?</h2>
      <% else %>
        <h2>Ready to play?</h2>
      <% end %>

    <%= link_to "New Game", game_path, class:"btn btn-success new-game" %>

  </div>

  <div class="tables">
    <div class="col-md-9 container">
      <h3>Saved Games</h3>
      <table class="col-md-9 table table-hover">
        <tr>
          <th>Score</th>
          <th>Last Played</th>
          <th>Continue</th>
        </tr>
        <% @games.each do |game| %>
        <tr>
          <td><%= game.score %></td>
          <td><%= game.updated_at.to_date %></td>
          <td><a class="btn btn-warning load-game-button" data-val=<%= game.id %>>Continue Game</a></td>
        </tr>
        <% end %>

      </table>
    </div>

    <div class="col-md-3">
      <h3>LeaderBoard</h3>
      <table class="col-md-3 table table-bordered">
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
        <% @leaders.each do |leader| %>
        <tr>
          <td><%= leader.user.email %></td>
          <td><%= leader.score %></td>
        </tr>
        <% end %>
    </div>
  </div>





<% end %>
