<% if !@current_user %>
<h1>Welcome!</h1>
  <div class="login">
    <a class="btn btn-success" href="auth/github/">
  <i class="fa fa-github"></i> Sign in With Github</a>

  </div>
<% end %>

<% if @current_user %>
  <h2>Hi, <%= @current_user.username %>, ready to play?</h2>

  <%= link_to "New Game", game_path, class:"btn btn-default" %>

<div class="container">
  <h3>Or Continue a Saved Game</h3>
  <table class="table table-hover">
    <tr>
      <th>Score</th>
      <th>Last Played</th>
      <th>Continue</th>
    </tr>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.score %></td>
      <td><%= game.updated_at %></td>
      <td><a class="load-game-button">Load Game</a></td>
    </tr>
    <% end %>

  </table>
</div>
<div class="container">
  <ol>
  <% @leaders.each do |leader| %>
  <li>Player: <%= leader.user.email %> Score: <%= leader.score %> </li>
  <% end %>
  </ol>
</div>
<% end %>
